@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
margin: 0rem;
margin-left: 0rem;
margin-right: 0rem;
padding: 0;
box-sizing: border-box;
text-decoration: solid;
border: none;
outline:none;
scroll-behavior: smooth;
font-family: 'Poppins', serif;
}
:root{
--bg-color:white;
--second-bg-color:#eef0f4;
--text-color: #0e0d0d;
--main-color: rgb(219, 128, 71);
}  
html{
font-size: 62%;
overflow-x: hidden;
height:100%;
}
body{
background: var(--bg-color);
color: var(--text-color);
height:100%;
}

.header{
position:fixed;
top:0;
left:0;
width:100%;
padding: 2rem 9%;
background: var(--bg-color);
display:flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}
.LOGO{
font-size: 2.5rem;
color: var(--text-color);
font-weight: 600;
cursor:default;
}
.menubar a
{
font-size: 1.7rem;
color:var(--text-color);
margin-left:4rem;
transition: .4s;
}
.menubar a:hover,
.menubar a.active
{
color:var(--main-color);
}
#menuicon
{
font-size: 5rem;
color:var(--text-color);
margin-right: 5rem;
display:none;
}
#menuicon:hover{
color: var(--main-color);
}
span
{
color: var(--main-color);
}
.homeimg img{
    margin-top: 50px;
    margin-left: 20rem;
    width:35vw;
    height: 20%;
    border-radius: 80%;
    animation:floatImage 4s ease-in-out infinite;
}

.homeimg img:hover
{
background:var(--main-color);
color:var(--second-bg-color);
box-shadow: 0 0 1rem var(--main-color);
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform:translateY(-2.4rem);
    }
    100%{
        transform:translateY(0);
    }
}
.home {
display: flex;
justify-content: center;
align-items:center;
width:100vw;
height:100%;

}
.homecontent h3
{
font-size: 4rem;  
font-weight: 700;
}
.homecontent h3:nth-last-of-type(2){
margin-bottom: 2rem;
}
.homecontent h1
{
font-size: 5.6rem;
font-weight: 700;
line-height: 1;
}
.homecontent p
{
font-size: 2rem;
}
.media a
{
display: inline-flex;
justify-content: center;
align-items: center;
width: 4rem;
height: 4rem;
background:transparent;
border: .3rem solid var(--main-color);
border-radius: 50%;
font-size: 2rem;
color:var(--main-color);
margin: 3rem 1.5rem 3rem 0;
transition: .5s ease;
}
.media a:hover
{
background:var(--main-color);
color:var(--second-bg-color);
box-shadow: 0 0 1rem var(--main-color);
}
.media .il img:hover{
box-shadow: 0 0 2rem var(--main-color);
}
.btn
{
display: inline-block;
padding:1rem 2.7rem;
background: var(--main-color);
border-radius: 4rem;
box-shadow: 0 0 4rem var(--main-color);
font-size: 1.5rem;
color:var(--second-bg-color);letter-spacing: .1rem;
font-weight: 600;
transition: .5s ease;
}
.btn:hover
{
box-shadow:none;
}
.about
{

display:flex;
justify-content:center ;
align-items: center;
background:var(--second-bg-color);
width: 100%;
height:100%;
}
/* .aboutimg
{

width:25vw;
height: auto;
animation:floatImage 10s ease-in-out infinite;
} */
.heading
{
text-align: center;
font-size: 4.5rem;
}
.aboutcontent{
    margin-top: 10rem;
    padding-bottom: 10rem;
    margin-right: 3rem;
    margin-left: 5rem;
}
.aboutcontent h2
{
text-align: left;
line-height: 1;
padding-top: 2rem;
font-size: 5rem;
}
.aboutcontent h3
{
font-size: 4rem; 
}
.aboutcontent p{
font-size: 2rem;
}
.skill h3 {
    color: black;
    border-radius: 3px;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.skill-box {
    background-color: #fffdfd;
    color: rgb(13, 13, 13);
    padding: 10px;
    width: 20rem;
    text-align: center;
    border-radius: 15px;
    border-color: #0e0d0d;
    box-shadow: 0 4px 8px rgba(107, 106, 106, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    margin-top: 10px;
}

.skill-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem var(--main-color);
}
.projects{
background: var(white);
padding-top: 4rem;
}
.projects h2{
margin-top:3rem ;
margin-bottom: 4rem;
}
.projectcontainer{
margin-left: 15rem;
margin-right: 3rem;
margin-bottom: 2rem;
display: grid;
grid-template-columns: repeat(3,1fr) ;
align-items: center;
gap:5rem;
}
.projectcontainer .projectbox{
position:relative;
border-radius: 3rem;
box-shadow: 0 0 1rem var(--bg-color);
overflow: hidden;
display:flex;
}
.projectbox{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 25rem;
    width:90%; 
}
.projectbox img{
width: 120%;
margin-left: 0rem;
}
.projectbox:hover img{
transform: scale(1.1);
}
.projectbox .projectlayer{
position: absolute;
color:var(--bg-color);
bottom:0;
margin-left: 0rem;
width:100%;
height: 100%;
background: linear-gradient(rgba(0,0,0,.5),var(--main-color));
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center ;
padding: 0 4rem;
transform: translateY(100%);
transition: .5s ease;
}
.projectbox:hover .projectlayer
{
transform:translateY(0); 
}
.projectlayer h4
{
font-size: 3rem;
line-height: 1;
}
.projectlayer h5
{
font-size: 2rem;
line-height: 1;
color:rgb(247, 227, 227);
}
.projectlayer p
{
font-size: 1.5rem;
margin: .3rem 0 1rem;
line-height: 1;
color:rgb(224, 218, 218);
}
.projectlayer a
{
display: inline-flex;
justify-content: center;
align-items: center;
width: 5rem;
height: 5rem;
background-color: rgb(250, 248, 248);
border-radius: 50%;
}
.projectlayer a:hover {
    background-color: var(--main-color);
}
.projectlayer a i
{
font-size: 2rem;
color: var(--main-color);
}
.projectlayer a:hover i {
    color: white; 
}
.contact
{
font-size: 80%;
padding-top: 7rem;
height:100%;
margin-bottom: 2rem;
}
.contact form
{
max-width:70rem;
margin: 2rem auto;
text-align: center;
margin-bottom: 3rem;
}
.contact form .inputbox
{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
}
.contact form .inputbox input,
.contact form textarea
{
width: 100%;
padding:1.5rem;
font-size: 1.6rem;
color:var(--text-color);
background:var(--second-bg-color);
border-radius: .8rem;
margin:.7rem 0;
}
.contact form .inputbox input
{
width: 49%;
}
.contact form textarea
{
resize: none;
}
.contact form .btn
{
margin-top: 2rem;
cursor:pointer;
}
.footer
{
margin-top: 15rem;
margin-bottom: 0rem;
display:flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 3rem 9%;
background: var(--second-bg-color);
}
.footertxt p
{
font-size: 1.6rem;
text-align: center;
}
.footericonTop a 
{
display: inline-flex;
justify-content: center;
align-items: center;
padding: .8rem;
background: var(--main-color);
border-radius: .8rem;
}
.footericonTop a:hover
{
box-shadow: 0 0 1rem var(--main-color);
}
.footericonTop a i
{
font-size: 2.4rem;
color:var(--second-bg-color);
}

@media(max-width:1200px){
    html{
        font-size:55%;
    }
}
 @media(max-width:991px){
    .header{
        padding:2rem 3%;
    }
    #menuicon{
        display:block;
    }
    .header nav{
        display:none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background: var(--bg-color);
        position: absolute;
        top: 100%;
        right: 0;
    }
    .header nav.active {
        display: flex;
    }
    section{
        padding:10rem 3% 2rem;
    }
    .projects{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
 }
 @media(max-width:768px){
    html{
        font-size: 50%;
    }
    #menuicon{
        display:block;
    }
    .header nav{
        display:none;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: 20%;
        background: var(--bg-color);
        position: absolute;
        top: 100%;
        right: 5rem;
    }
    .header a{
        font-size: 5rem;
    }
   .header nav a{
    font-size: 4rem;
   }
    .header nav.active {
        display: flex;
    }
    .home{
        margin-left: 29rem;
        margin-top: 1rem;
    }
    .homecontent{
        margin-left: 30rem;
    }
    .homecontent h3{
        font-size: 4rem;
    }
    .homecontent h1{
        font-size: 6rem;
    }
    .homecontent p{
        font-size: 3rem;
    }
    .homeimg img{
        margin-left: 25rem;
        width:100vw;
        height:100%;
        border-radius: 80%;
        animation:floatImage 4s ease-in-out infinite;
    }
    
    .about
    {
    display:flex;
    justify-content:center ;
    align-items: center;
    background:var(--second-bg-color);
    width: 250%;
    height:120%;
    }
    
.aboutcontent{
    margin-top: 5rem;
    padding-bottom: 10rem;
    margin-right: 10rem;
    margin-left: 15rem;
}
    .aboutcontent p{
        display: flex;
        flex-direction: column;
    }
    .aboutcontent h2{
    text-align: left;
    line-height: 1;
    padding-top: 2rem;
    font-size: 5rem;
    }
        /* .aboutimg{
        width:50vw;
        margin-top: 4rem;
    } */
    .projects h2{
        margin-top: 8rem;
        margin-left: 50rem;
        font-size: 7rem;
    }
    .projectcontainer{
        grid-template-columns: repeat(1,1fr);
        margin-left: 5rem;
    }
    
    .projectbox{
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem var(--bg-color);
        overflow: hidden;
        display: flex;
        height: 60rem;
        width:290%; 
    }
    .projectbox img{
    width: 200%;
    }
    .projectlayer h4
    {
    font-size: 5rem;
    line-height: 1;
    }
    .projectlayer h5
    {
    font-size: 4rem;
    line-height: 1;
    color:rgb(247, 227, 227);
    }
    .projectlayer p
    {
    font-size: 3rem;
    margin: .3rem 0 1rem;
    line-height: 1;
    color:rgb(224, 218, 218);
    }
    .projectlayer a
    {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color: rgb(250, 248, 248);
    border-radius: 50%;
    }
    .projects h2{
        font-size: 7rem;
        margin-left: 37rem;
        display: flex;
        flex-direction: grid;
    }

    .contact h2{
        font-size: 7rem;
        margin-left: 37rem;
        display: flex;
        flex-direction: grid;
    }
    .contact form
    {
    max-width:200rem;
    margin: 2rem auto;
    text-align: center;
    margin-bottom: 3rem;
    }
    .contact form .inputbox
    {
    margin-left: 3rem;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    }
    .contact form .inputbox input,
    .contact form textarea
    {
    width: 250%;
    padding:1.5rem;
    font-size: 5dvh;
    color:var(--text-color);
    background:var(--second-bg-color);
    border-radius: .8rem;
    margin-left: 2rem;
    }
    .contact form .btn{
    margin-left: 25rem;
    margin-top: 3rem;
    cursor:pointer;
    font-size: 5rem;
    }
    .footer{
        width: 270%;
        height: 20%;
    }
    .footertxt p{
    font-size: 3rem;
    text-align: center;
    }
    .footericonTop a 
    {
    margin-right: 20rem;
    }
    .footericonTop a i
    {
    font-size: 3rem;
    color:var(--second-bg-color);
    }
}

